*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url(../img/back.jpg);
    background-attachment: fixed;
}

div
{
    background: rgba(255,255,255,0.5);
    padding: 20px;
}


div.container
{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

div.container.form
{
    margin: 30px;
    padding: 20px;
}

div#top
{
    padding-bottom: 0px;
}

div#top p
{
    display:table-cell;
    vertical-align:middle;
    margin-bottom: 0px;
}

div#basic td
{
    padding: 5px;
}

.btn
{
    background-color: lightgreen;
}